@import "../../variables";
.hero {
  background: linear-gradient(
    90deg,
    rgba(38, 31, 75, 1) 32%,
    rgba(140, 150, 221, 1) 100%
  );
  height: calc(100vh - 71px);
  padding: 0.7rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  overflow: hidden;
  .left {
    width: 33vw;
    h1 {
      font-size: 5rem;
      margin: 0.4rem 0;
    }
    p {
      font-size: 1.7rem;
      color: $second-color;
      line-height: 2.3rem;
    }
    img {
      margin-top: 4rem;
    }
    button {
      padding: 0.7rem;
      border-radius: 50%;
      height: 3rem;
      width: 3rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 4rem;
      background: #3b365a;
      border: none;
      color: white;
    }
  }
  .right,
  .middle {
    width: 30.375rem;
  }
  .right {
    img {
      transform: translate3d(0px, -222.767px, 0px);
    }
  }
}
