@import "../../variables";
.navbar {
  display: flex;
  font-weight: 600;
  align-items: center;
  gap: 3rem;
  background: #131314;
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000000;
  .logo,
  .nav-btns > ul,
  .right,
  .mode,
  li {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }
  .nav-btns > ul {
    gap: 1rem;
    li {
      font-size: 1.2rem;
      color: $second-color;
      &:hover {
        color: $hover-color;
      }
    }
  }
}
.right {
  margin-left: auto;
  .toggle-btn {
    width: 3.2rem;
    height: 1.5rem;
    border-radius: 30px;
    background: #6366f1;
    display: flex;
    .moon {
      margin-left: auto;
      rotate: -160deg;
      margin-top: 3.5px;
      margin-right: 3px;
    }
  }
  button {
    margin-left: 2rem;
    background: $base-color;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 600;
    font-size: 1rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    border-radius: 0.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 120px;

    &:hover {
      background: $hover-color;
    }
  }
  .menu {
    display: none;
  }
}

@media screen and (max-width: 990px) {
  .navbar {
    .nav-btns,
    .right > button {
      display: none;
    }
    .menu {
      display: block;
      margin-left: 1rem;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
}
@media screen and (max-width: 460px) {
  .navbar {
    .right > .mode > span {
      display: none;
    }
  }
}
