@import "../../variables";
.navbar {
  display: flex;
  font-weight: 600;
  align-items: center;
  gap: 3rem;
  background: #131314;
  padding: 1rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  .logo,
  .nav-btns > ul,
  .right,
  .mode,
  li {
    display: flex;
    align-items: center;
    gap: 0.4rem;
  }
  .nav-btns > ul {
    gap: 1rem;
    li {
      font-size: 1.2rem;
      color: $second-color;
      &:hover {
        color: $hover-color;
      }
    }
  }
}
.right {
  margin-left: auto;
  .toggle-btn {
    width: 3.2rem;
    height: 1.5rem;
    border-radius: 30px;
    background: #6366f1;
  }
  button {
    margin-left: 2rem;
    background: $base-color;
    border: none;
    cursor: pointer;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.3rem;
    border-radius: 0.4rem;
    padding: 10px 13px;
    height: 40px;
    width: 100px;

    &:hover {
      background: $hover-color;
    }
  }
}

// #6366f1 - main
// #4044ee - hover
