.components {
  margin-top: 4.4375rem;
}
a {
  text-decoration: none;
  color: white;
}
.back-to-top {
  background: rgba(53, 53, 53, 0.39);
  border-radius: 50%;
  position: fixed;
  z-index: 100;
  bottom: 1rem;
  right: 2rem;
  display: flex;
  justify-content: center;
  align-self: center;
  height: 3rem;
  width: 3rem;
  padding: 0.6rem;
  cursor: pointer;
  display: none;
  animation: movebtn 0.6s ease-in-out;
  .arrow {
    height: 100%;
    width: 100%;
  }
}

@keyframes movebtn {
  0% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}
